._content{
    width:1000px;
    height:700px;
    display:flex;
    gap:30px;
    flex-direction: column;
    flex-wrap:wrap;
    justify-content: flex-end;
    align-content: center;
}

._content_overview{
    width:450px;
    height:340px;
    /* margin:auto; */
    /* background-color: red; */
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    align-items: flex-end;
    justify-content: center;
    transform:translate(-10px, 20px);
}

._content_overview_icon{
    width:180px;
    height:180px;
    background-color: #d9d9d9;
    border-radius: 20px 0 0 20px;
}

._content_overview_name{
    font-size:20px;
    font-weight: 800;
    padding:3px 35px;
    border-radius: 20px 0 0 20px;
    background-color: #313131;
    color:#ffffff;
    /* width: min(120px, fit-content); */
    width:fit-content;
    max-width:120px;
    margin-top:2px;
    margin-bottom:2px;
    text-align: right;
}

._content_overview_level{
    font-size:12px;
    font-weight:700;
    padding:3px 25px;
    border-radius: 20px 0 0 20px;
    background-color: #313131;
    color:#ffffff;
}


._content_overview_container{
    width:275px;
    height:370px;
    border-radius:30px;
    background-image: linear-gradient(#ffffff, #ffffff 15%, #373737 28%, #373737 70%, #101010 100%);
    transform:translate(-2px, 0px);
}

._content_overview_container_title{
    width:100%;
    font-size:40px;
    font-weight:900;
    text-align:center;
    padding:15px 0 5px 0;
    color: #AC6836;
}

._content_overview_container_score{
    font-size:16px;
    font-weight:900;
    text-align:center;
    background-color: #3F3F3F;
    color: #DEA774;
    width:fit-content;
    border-radius: 20px;
    margin:auto;
    padding:8px 30px;
} 
._content_overview_container_letter{
    width:118px;
    height:118px;
    line-height:112px;
    border-radius: 30px;
    font-size:64px;
    font-weight:900;
    background-color: #1d1d1d;
    text-align:center;
    margin:auto;
    margin-top:24px;
    box-shadow: 0px 0px 5px 0px #c9c9c9;
} 
._content_overview_container_max{
    margin:auto;
    margin-top:48px;
    font-size:18px;
    font-weight:900;
    text-align:center;
    width:fit-content;
    height:fit-content;
    color:#895A38;
} 

._content_relic_container{
    border-radius:10px;
    width:400px;
    height:140px;
    /* margin:auto; */
    display:flex;
    background-color: #141414;
}

._content_relic_icon{
    width:70px;
    height:70px;
    /* margin-left:35px; */
    margin-top:35px;
    border-radius: 100px;
    background-color:var(--color-main_4);
    border:15px solid var(--color-main_4);
    margin:auto;
}

._content_relic_table{
    /* margin:auto; */
    /* margin-right:0; */
    width:260px;
    height:140px;
    display:grid;
    grid-template-columns: calc(260px - 55px - 37px - 37px - 37px) 55px 37px 37px 37px;
    grid-template-rows: 40px 20px 20px 20px 20px 20px;
    font-size:11px;
    color:#313131;
    text-align:center;
    border-radius: 0 0 10px 10px;
}

._content_relic_label{
    line-height:45px;
    color:var(--color-main_3);
    background-color: #212121;
    font-size:16px;
}
._content_relic_value{
    line-height:21px;
    background-color: #a5a5a5;
}

._content_relic_culmPoints{
    position:absolute;
    background-color: #313131;
    color: #a5a5a5;
    padding:2px 12px;
    border-radius: 100px;
    transform: translate(130px, 136px);
    font-size:14px;
}

._content_relic_rank{
    position:absolute;
    width:60px;
    height:60px;
    line-height:60px;
    font-size:28px;
    background-color: #111111;
    /* color: #d9d9d9; */
    border-radius: 100px;
    transform: translate(-160px, -5px);
}

._content_relic_table div{
    margin:0;
    box-shadow: inset 0 0 0 0.5px #313131;
}

._content_relic_table .top_right_ajsfiodj{
    border-radius: 0 10px 0 0;
}

._content_relic_table .bottom_right_ajsfiodj{
    border-radius: 0 0 10px 0;
}