._header{
    width:100%;
    height:200px;

    padding-top:30px;

    background-color: none;

    display:flex;
    justify-content: space-evenly;
}

._header_profile{
    width:480px;
    height:200px;
    /* background-color: red; */
}

._header_profile_desc_container{
    /* width:150px; */

    position:absolute;
    transform:translate(100px, -25px);

    display:flex;
    flex-direction: column;
    align-items:center;
}

._header_profile_desc_container_name{
    width:360px;
    height:45px;
    line-height: 48px;
    border-radius: 100px;
    text-align:center;
    font-size:28px;
    background-color: #373737;
    color:#eeeeee;
    z-index:1000;
}

._header_profile_desc_container_uid{
    width:260px;
    height:38px;
    line-height:45px;
    text-align:center;
    font-size:18px;
    background-color: #d1d1d1;
    color:#111111;
    border-radius: 100px;
    transform: translate(0px,-8px);
    z-index:100;
}

._header_profile_icon_container{
    width:160px;
    height:160px;
    background-color: #373737;
    border-radius: 100px;
}

._header_profile_icon_container_icon{
    width:80%;
    height:80%;

    margin-left:10%;
    margin-top:10%;
    border-radius: 1000px;
}

._header_char{
    width:350px;
    height:80px;
    /* background-color: blue; */

    display:flex;
    flex-direction: column;
    align-items: center;

    text-align: center;
}

._header_char_header{
    position:absolute;
    height:30px;
    line-height: 25px;
    width:210px;

    font-size:16px;

    transform: translateY(-25px);

    background-color: #564848;
    color:#BC8B8B;
    z-index: 1;
    border-radius: 100px;
}

._header_char_selection_container{
    width:350px;
    height:50px;

    background-color: #efefef;

    z-index:100;
    border-radius: 100px;
}

._header_char_selection_container_title{
    width:100%;
    height:100%;
    line-height: 50px;

    font-size:32px;
}

._header_char_selection_container_dropdown{
    width:350px;
    height:fit-content;
    position: absolute;
    transform: translateY(7px);
    display:none;
    /* background-color: red; */
}

.char_selection_dropdown_item{
    font-size:23;
    height:42px;
    line-height: 42px;
    color:#C49A9A;
    background-color: #564848;
}

.char_selection_dropdown_item:hover{
    background-color: #413232;
}

.char_selection_dropdown_first{
    border-radius: 25px 25px 0px 0px;
}

.char_selection_dropdown_last{
    border-radius: 0px 0px 25px 25px;
}