:root{
    --color-bg: var(--color-black_2);
    --color-bg_profile: var(--color-black_1);
    --color-bg_avatar: var(--color-black_3);
    --color-profile_title: var(--color-main_4);
    --color-header_1: var(--color-black_4);
    --color-signature: var(--color-black_3);
    --color-uid: var(--color-main_3);
    --color-avatar_description: var(--color-main_2);
}

/* .content{
    width:fit-content;
    overflow-x:auto;
} */

#content_body{
    background-color: none;
}

.profile{
    width:1300px;
}

.profile_full{
    width:max(960px, 95%);
    margin:auto;
    background-color:var(--color-bg);
    border-radius:10px;
    padding: 20px 0;
}

.profile_full_main{
    width:90%;
    height:fit-content;
    background-color:var(--color-bg_profile);
    border-radius:10px;
    display:grid;
    grid-template-columns: 30% 70%;
    margin:10px auto 100px auto;
    padding: 20px 0px;
}

.profile_full_main_avatar_container{
    width:220px;
    height:100%;
    margin:auto;
    /* background-color:var(--color-bg_avatar);  */
    border: 1px solid var(--color-signature);
    border-radius:10px;
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.profile_full_main_avatar_container:hover{
    border: 1px solid var(--color-main_2);
}

.profile_full_main_avatar_container_avatar{
    height:fit-content;
    width:fit-content;
    margin:20px auto 10px auto;
    /* z-index:1000; */
    /* position:relative; */
    border-radius:10000px;
}

.profile_full_main_avatar_container_avatar_avatar_img{
    width:128px;
    height:128px;
    border-radius:100%;
    /* transform: translate(0, 3px); */
}

.profile_full_main_avatar_container_details{
    display:flex;
    flex-direction: column;
    gap:1px;
}

.profile_full_uid_container{
    width:auto;
    height: fit-content;
    text-align: center;
    /* padding-left:30px; */
    padding-top:    7px;
    padding-bottom: 7px;
    margin-bottom:7px;
    font-size:16px;
    font-weight:700;
    background-color: #202020;
    color:var(--color-main_3);

}

.profile_full_desc_stlist{
    width:auto;
    height: fit-content;
    padding-left:30px;
    padding-top:    5px;
    padding-bottom: 5px;
    font-size:14px;
    font-weight:700;
    color:var(--color-black_3);
    background-color: #242424;
}

.profile_full_desc_stlist.lst{
    border-radius: 0 0 10px 10px;
}

.profile_full_desc_stlist:hover{
    color:var(--color-main_3);
    border:1px solid var(--color-main_2);
}









.profile_full_main_description{
    margin-left:20px;
}

.profile_full_main_description_nickname{
    width:100%;
    font-size: 64px;
    font-weight:800;
    margin-left:10px;
    margin-top:50px;
    color: var(--color-profile_title);
}

.profile_full_main_description_level{
    font-size:20px;
    font-weight:700;
    margin-left:10px;
    color: var(--color-header_1)
}

.profile_full_main_description_signature{
    margin-top:30px;

    line-height:24px;
    font-size:16px;
    font-weight:500;
    padding:10px;

    width:calc(100% - 100px);
    height:128px;
    border-radius:10px;


    color: var(--color-signature);
    border: 1px solid var(--color-signature);
}

.profile_full_main_description_signature:hover{
    border:1px solid var(--color-main_2);
    color:var(--color-main_2);
}


.profile_full_title{
    width:1000px;
    padding: 12px 0;
    text-align: center;
    border-radius: 5px;
    margin:70px auto 30px auto;
    font-size:32px;
    font-weight:800;
    /* background-color: #202020; */
    color:var(--color-main_3);
    border:1px solid var(--color-black_3);
}

.profile_full_title:hover{
    border:1px solid var(--color-main_3);
    color:var(--color-main_3);
    /* background-color: #303030; */
}